@model IEnumerable<NAIMS.Models.Product>

@{
    ViewData["Title"] = "Out of Stock Items";
}

<a asp-controller="Products" asp-action="Warehouseinventory" type="button" class="btn btn-dark">
    <i class="tf-icons bx bx-arrow-back"></i> Back
</a><br /><br />
<h2 align="middle">Out of Stock Items</h2>
<p align=right>
    <button onclick="printDifferentPage()" class="btn btn-dark">Print</button>
</p>

@* Warehouse out of stock *@
<div class="col-md-6 col-xl-12">
    <div class="card shadow-none border border-danger mb-3">
        <div class="card-header bg-danger text-white">
            <div class="d-flex justify-content-between">
                <h5 class="card-title mb-0 text-white">Warehouse</h5>
                <small class="text-white">Out of Stock Products</small>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            if (product.WarehouseStatus == "out of stock")
                            {
                                <tr>
                                    <td>@product.Brand.Bname - @product.Pname</td>
                                    <td>@product.Size</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </p>
        </div>
    </div>
</div>

<script>
    function printDifferentPage() {
        var newWindow = window.open('WarehouseOutOfStockItemsPrint');
        newWindow.onload = function () {
            newWindow.print();
        };
    }
</script>

