@model NAIMS.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EFirstname" class="control-label"></label>
                <input asp-for="EFirstname" class="form-control" />
                <span asp-validation-for="EFirstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ELastname" class="control-label"></label>
                <input asp-for="ELastname" class="form-control" />
                <span asp-validation-for="ELastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ERole" class="control-label"></label>
                <input asp-for="ERole" class="form-control" />
                <span asp-validation-for="ERole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EEmail" class="control-label"></label>
                <input asp-for="EEmail" class="form-control" />
                <span asp-validation-for="EEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EPhonenumber" class="control-label"></label>
                <input asp-for="EPhonenumber" class="form-control" />
                <span asp-validation-for="EPhonenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ETarget" class="control-label"></label>
                <input asp-for="ETarget" class="form-control" />
                <span asp-validation-for="ETarget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EComissionPerc" class="control-label"></label>
                <input asp-for="EComissionPerc" class="form-control" />
                <span asp-validation-for="EComissionPerc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

