@page
@model ForgotPasswordModel
@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Forgot Password";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@section PageScripts {
    <script src="~/js/pages-auth.js"></script>
}
@* ************** Content ************** *@

<div class="authentication-wrapper authentication-cover">
    <div class="authentication-inner row m-0">

        <!-- /Left Text -->
        <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center p-5">
            <div class="w-100 d-flex justify-content-center">
                <img src="~/img/illustrations/girl-unlock-password-light.png" class="img-fluid" alt="Login image" width="600" data-app-dark-img="illustrations/girl-unlock-password-dark.png" data-app-light-img="illustrations/girl-unlock-password-light.png">
            </div>
        </div>
        <!-- /Left Text -->
        <!-- Forgot Password -->
        <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg p-sm-5 p-4">
            <div class="w-px-400 mx-auto">
                <div class="w-px-400 mx-auto text-center">
                    <!-- Logo -->
                    <div class="app-brand mb-5">
                        <a href="/" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo d-block mx-auto"><img src="/img/branding/logo.png" alt="Natural Approach Logo" style="width: 250px; padding-left: 125px;"></span>
                        </a>
                    </div>
                    <!-- Heading and other content -->
                    <h4 class="mb-2">Forgot Password? 🔒</h4>
                    <div class="divider my-4">
                        <div class="divider-text">Inventory Management System</div>
                    </div>
                    <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
                </div>




                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="mb-3">
                        <label asp-for="Input.Email" class="form-label"></label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter your email" autofocus />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary d-grid w-100">Send Reset Link</button>
                </form><br />
                <hr /><br />
                <div class="text-center">
                    <a asp-page="./Login" class="d-flex align-items-center justify-content-center">
                        <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                        Back to login
                    </a>
                </div>
            </div>
        </div>
        <!-- /Forgot Password -->
    </div>
</div>

