@{
  TempData.Keep();
  string? currentPage =  ViewContext.HttpContext.Request.Path;
  ViewData["containerNav"] ??= "container-fluid";
}

<!-- Menu -->
<aside id="layout-menu" class="layout-menu-horizontal menu-horizontal  menu bg-menu-theme flex-grow-0">
  <div class='@ViewData["containerNav"] d-flex h-100'>
    @* ! Starter Kit menu-items *@
    <ul class="menu-inner">
      <li class='menu-item@(currentPage == "/" ? " active" : "")'>
        <a asp-controller="Home" asp-action="Index" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home"></i>
          <div data-i18n="Home">Home</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Products" ? " active" : "")'>
        <a asp-controller="Products" asp-action="Index" class="menu-link">
          <i class="menu-icon tf-icons bx bx-detail"></i>
          <div data-i18n="Products">Products</div>
        </a>
      </li>
    </ul>
  </div>
</aside>
<!-- / Menu -->
